<div id="window-title" class="modal-header" style="line-height: 13px;">
    导入
    <div class="detail-close pull-right" ng-click="cancel()" ng-show="isShow"><i class="fa fa-times"></i></div>
</div>
<div id="window-body" class="modal-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="u-upload" style="margin-top: 10px; margin:0 20px;">
                        <input type="file" name="file" kendo-upload="kUpload" k-select="select" k-multiple="false" k-async="uploadParams" k-error="onError" k-upload="onUpload"
                               k-success="onSuccess" accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

